#page {
	width: 100vw;
	display: inline-block;
}
#main{
	width: 95vw;
	max-width:500px;
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	border-style:solid;
	text-align: center;
}
#sectionNameDiv{
	display: inline-block;
}
#sectionName{
	border-style: outset; 
	background-color: #dcc3ff;
	font-size:14px;
}
h1{
	font-family: "Impact", "Charcoal", sans-serif;
}
#interactive{
	border-style: inset;
	width:80%
	margin:auto;
	display:inline-block;
}

#interactive-container {
	padding: 15px;
}

p{
	text-align: left;
	width: 90%;
	position:relative;
	left: 5%;
}
#play-div{
	text-align: center;
	/*width: 50%;*/
	display: inline-block;
	margin: 0 auto;
}
img:hover{
	opacity: 0.3;
	background-color: #808080;
}
#playBtn{
	display: inline-block;
}
#play-container{
	padding: 10px;
	background-color: #ffffff;
}
.font-10{
	font-size: 10px;
}
