#main{
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	left: 50px;
	font-size: 12px;
	width:350px;
}
#sectionNameDiv{
	background-color: white;
	display: inline-block;
}
h1{
	font-family: Impact, Charcoal, sans-serif;