body {
	width: 95vw;
	display: inline-block;
}
#main{
	width: 95vw;
	max-width:500px;
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	position: absolute;
	border-style:solid;
	text-align: center;
	font-size: 14px;
}
#sectionNameDiv{
	display: inline-block;
}
#sectionName{
	font-size:14px;
	border-style: solid;
	border-width: 2px;
	font-family: "Courier New", monospace;
}

#songName {
	font-size: 14px;
}
h1{
	font-family: "Impact", "Charcoal", sans-serif;
}
#interactive{
	border-style: inset;
	width:80%
	margin:auto;
	display:inline-block;
}

#interactive-container {
	padding: 15px;
}

p.text{
	text-align: left;
	width: 90%;
	position:relative;
	left: 5%;
}
#play-div{
	text-align: center;
	/*width: 50%;*/
	display: inline-block;
	margin: 0 auto;
}
img:hover{
	opacity: 0.3;
	background-color: #808080;
}
#playBtn{
	display: inline-block;
}
#play-container{
	padding: 10px;
	background-color: #ffffff;
}
.font-10{
	font-size: 10px;
}
.font-9{
	font-size: 9px;
}
.code{
	font-family: "Courier New", monospace;
	background-color: #e2e2e2;
	border-style: solid;
	border-color: #d2d2d2;
	border-width: 2px;
	border-radius: 4px;
	font-size: 12px;
}
.normal-text{
	font-size: 14px;
}
.hidden{
	display:none;
}